.milkdown-block-handle {
    display: none !important;
}

.milkdown {
    --crepe-color-background: var(--theme-bg-2);
    .ProseMirror {
        a {
            cursor: pointer;
        }

        p {
            font-size: unset;
            line-height: unset;
            margin: unset;
        }

        table {
            margin: 0.5rem 0;

            p {
                padding: unset;
            }
        }

        blockquote {
            background-color: rgb(247, 247, 247);
            border-radius: 5px;
            padding-left: 2ch;

            &::before {
                top: 0;
                bottom: 0;
                border-radius: 5px;
                width: 6px;
            }
        }

        .milkdown-code-block {
            padding: unset;

            .tools {
                background-color: white;
            }

            .cm-activeLineGutter,
            .cm-activeLine {
                background-color: unset;
            }

            .language-picker {
                margin-bottom: 4px;

                .list-wrapper {
                    background: white;
                    border-radius: 4px;

                    .search-box {
                        outline: unset;
                        background-color: #99999922;
                    }

                    .language-list {
                        height: 200px;
                    }
                }
            }

            .tools-button-group {
                margin-bottom: 4px;

                button {
                    border-radius: 4px !important;
                    background: var(--crepe-color-surface-low);
                }
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0.5rem 0;
            font-weight: 600;
            letter-spacing: 0.05rem;
            line-height: unset;

            &::before {
                position: absolute;
                left: -1ch;
                color: rgb(236, 236, 236);
            }
        }

        h6 {
            font-size: 1rem;

            &::before {
                content: '⁶'
            }
        }

        h5 {
            font-size: 1.1rem;

            &::before {
                content: '⁵'
            }
        }

        h4 {
            font-size: 1.2rem;

            &::before {
                content: '⁴'
            }
        }

        h3 {
            font-size: 1.3rem;

            &::before {
                content: '³'
            }
        }

        h2 {
            font-size: 1.4rem;
        }

        h1 {
            font-size: 1.5rem;
        }

        em {
            transform: skewX(-10deg);
            display: inline-block;
        }

        .milkdown-list-item-block li {
            .label-wrapper {
                height: 20px;
                width: 20px;
                margin: 4px 0;

                svg {
                    height: 20px;
                    width: 20px;
                    fill: black;
                }
            }
        }

        .milkdown-list-item-block>.list-item {
            gap: 0.25rem;

            .label-wrapper:has(.checked)+.children {
                text-decoration: line-through;
                text-decoration-color: black;
                text-decoration-thickness: 30%;
            }
        }

        .milkdown-image-block {
            .image-edit {
                padding: 4px;
                border-radius: 4px;

                .image-preview {
                    opacity: 1;
                    box-shadow: 2px 2px 2px #999;
                    z-index: 9;
                    border: 1px solid #999;
                    border-radius: 4px;

                    img {
                        border-radius: 4px;
                    }
                }
            }
        }

    }

    .milkdown-slash-menu {
        border-radius: 4px;
        background: white;

        .tab-group {
            display: none;
            padding: unset;
        }

        .menu-groups {
            max-height: 220px;
            padding: unset;

            .menu-group {
                background: unset;

                h6 {
                    padding: 4px 3px;
                    font-size: 0.5rem;
                }

                li {
                    min-width: 180px;
                    border-radius: unset;
                    padding: 4px 3px;

                    &:hover {
                        border-radius: unset;
                    }
                }
            }
        }
    }

    .milkdown-toolbar {
        border-radius: 4px;
        background: white;
        height: 32px;
        color: black;

        .toolbar-item {
            margin: 4px 2px;
            padding: 2px;
            width: 24px;
            height: 24px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    .milkdown-link-edit {
        .link-edit {
            border-radius: 4px;
            background: white;
        }
    }

    .milkdown-link-preview {
        .link-preview {
            border-radius: 4px;
            background: white;
            padding: 4px;
            gap: 4px;
        }
    }
}